<deployment-project plugin="plugin.toolbox" plugin-version="1.0">
  <configuration file="__REPO-ROOT__/bsp.prj" location="__REPO-ROOT__" name="bsp" target="target.toolbox" target-name="Package Toolbox">
    <param.appname>Analog Devices Board Support Packages</param.appname>
    <param.authnamewatermark>Travis Collins</param.authnamewatermark>
    <param.email>travis.collins@analog.com</param.email>
    <param.company>Analog Devices, Inc</param.company>
    <param.summary>Board support packages for HDL targeting and data streaming from Analog Devices hardware.</param.summary>
    <param.description>Scripts and tools created by ADI to be used with MATLAB and Simulink with ADI products
Documentation: https://wiki.analog.com/resources/eval/user-guides/ad-fmcomms2-ebz/software/matlab_bsp
Support: https://ez.analog.com/</param.description>
    <param.screenshot>__REPO-ROOT__/CI/doc/ADI_Logo_AWP_Large.png</param.screenshot>
    <param.version>__VERSION__</param.version>
    <param.output>${PROJECT_ROOT}/Analog Devices Board Support Packages.mltbx</param.output>
    <param.products.name>
      <item>MATLAB</item>
      <item>Simulink</item>
      <item>Communications Toolbox</item>
      <item>DSP System Toolbox</item>
      <item>HDL Coder</item>
      <item>Signal Processing Toolbox</item>
      <item>Simulink Coder</item>
    </param.products.name>
    <param.products.id>
      <item>1</item>
      <item>2</item>
      <item>36</item>
      <item>24</item>
      <item>101</item>
      <item>8</item>
      <item>14</item>
    </param.products.id>
    <param.products.version>
      <item>9.5</item>
      <item>9.2</item>
      <item>7.0</item>
      <item>9.7</item>
      <item>3.13</item>
      <item>8.1</item>
      <item>9.0</item>
    </param.products.version>
    <param.platforms />
    <param.guid>40075943-d2d1-4d90-8e59-b3eff5f58180</param.guid>
    <param.exclude.filters>%
CI/*
hdl_prj/*
slprj/*
.git/*
test/*
itests/*
mltbx/*
*~
.Xil/*</param.exclude.filters>
    <param.exclude.pcodedmfiles>true</param.exclude.pcodedmfiles>
    <param.examples />
    <param.demosxml />
    <param.apps />
    <param.registered.apps />
    <param.docs>${PROJECT_ROOT}/info.xml</param.docs>
    <param.getting.started.guide />
    <param.matlabpath.excludes />
    <param.javaclasspath.excludes />
    <param.exported.on.package>false</param.exported.on.package>
    <param.release.start>__ML-RELEASE__</param.release.start>
    <param.release.end>__ML-RELEASE__</param.release.end>
    <param.release.current.only>true</param.release.current.only>
    <param.compatiblity.windows>true</param.compatiblity.windows>
    <param.compatiblity.macos>false</param.compatiblity.macos>
    <param.compatiblity.linux>true</param.compatiblity.linux>
    <param.compatiblity.matlabonline>false</param.compatiblity.matlabonline>
    <param.installation.map />
    <param.additional.sw.names />
    <param.additional.sw.licenses />
    <param.additional.sw.win.url />
    <param.additional.sw.mac.url />
    <param.additional.sw.linux.url />
    <unset>
      <param.output />
      <param.platforms />
      <param.exclude.pcodedmfiles />
      <param.examples />
      <param.demosxml />
      <param.apps />
      <param.registered.apps />
      <param.getting.started.guide />
      <param.matlabpath.excludes />
      <param.javaclasspath.excludes />
      <param.exported.on.package />
      <param.compatiblity.windows />
      <param.compatiblity.linux />
      <param.installation.map />
      <param.additional.sw.names />
      <param.additional.sw.licenses />
      <param.additional.sw.win.url />
      <param.additional.sw.mac.url />
      <param.additional.sw.linux.url />
    </unset>
    <fileset.rootdir>
      <file>__REPO-ROOT__</file>
    </fileset.rootdir>
    <fileset.rootfiles>
      <file>${PROJECT_ROOT}/LICENSE</file>
      <file>${PROJECT_ROOT}/README.md</file>
      <file>${PROJECT_ROOT}/doc</file>
      <file>${PROJECT_ROOT}/hdl_wa_bsp</file>
      <file>${PROJECT_ROOT}/hil_models</file>
      <file>${PROJECT_ROOT}/info.xml</file>
      <file>${PROJECT_ROOT}/targeting_models</file>
    </fileset.rootfiles>
    <fileset.depfun.included />
    <fileset.depfun.excluded>
      <file>/mlhsp/toolbox/shared/sdr/sdrplug/sdrplugins/plutoradio/findPlutoRadio.p</file>
    </fileset.depfun.excluded>
    <fileset.package />
    <build-deliverables>
      <file location="__REPO-ROOT__" name="Analog Devices Board Support Packages.mltbx" optional="false">__REPO-ROOT__/Analog Devices Board Support Packages.mltbx</file>
    </build-deliverables>
    <workflow />
    <matlab>
      <root>/usr/local/MATLAB/__ML-RELEASE__</root>
      <toolboxes>
        <toolbox name="matlabcoder" />
        <toolbox name="embeddedcoder" />
        <toolbox name="fixedpoint" />
        <toolbox name="matlabhdlcoder" />
      </toolboxes>
      <toolbox>
        <matlabcoder>
          <enabled>true</enabled>
        </matlabcoder>
      </toolbox>
      <toolbox>
        <embeddedcoder>
          <enabled>true</enabled>
        </embeddedcoder>
      </toolbox>
      <toolbox>
        <fixedpoint>
          <enabled>true</enabled>
        </fixedpoint>
      </toolbox>
      <toolbox>
        <matlabhdlcoder>
          <enabled>true</enabled>
        </matlabhdlcoder>
      </toolbox>
    </matlab>
    <platform>
      <unix>true</unix>
      <mac>false</mac>
      <windows>false</windows>
      <win2k>false</win2k>
      <winxp>false</winxp>
      <vista>false</vista>
      <linux>true</linux>
      <solaris>false</solaris>
      <osver>4.15.0-34-generic</osver>
      <os32>false</os32>
      <os64>true</os64>
      <arch>glnxa64</arch>
      <matlab>true</matlab>
    </platform>
  </configuration>
</deployment-project>
